fa-app.full-screen
  fa-modifier(fa-origin='[0.5, 0.5]')
    fa-surface(fa-size='[200, 200]').bg-primary
      fa-modifier(fa-origin='[0.5, 0.5]')
        fa-surface(fa-size='[true, true]').text-primary Square.
