fa-app.full-screen
  fa-modifier(fa-origin='[0.5, 0.5]')
    fa-modifier(fa-opacity='primary.opacity')
      fa-surface(fa-size='[200, 200]', fa-click='toggle()').bg-primary
        fa-modifier(fa-origin='[0.5, 0.5]')
          fa-surface(fa-size='[true, true]', fa-pipe-to='evt').text-primary Square.
    fa-modifier(fa-opacity='secondary.opacity')
      fa-surface(fa-size='[200, 200]', fa-click='toggle()').bg-secondary
        fa-modifier(fa-origin='[0.5, 0.5]')
          fa-surface(fa-size='[true, true]', fa-pipe-to='evt').text-secondary Square.
