fa-app.full-screen
  fa-surface(fa-background-color="'#FFF'")
  fa-header-footer-layout
    fa-surface(fa-size="[undefined, 100]", fa-background-color="'#F00'") Header
    fa-surface(fa-size="[undefined, undefined]", fa-background-color="'#0F0'") Content
    fa-surface(fa-size="[undefined, 50]", fa-background-color="'#00F'") Footer
