fa-app.full-screen
  fa-modifier(
    fa-origin='[0.5, 0.5]'
  )
    fa-surface(
      fa-size='[200, 200]',
      fa-background-color="'red'"
    )
      | {{ message }}
      button(ng-click='number = number + 1') {{ number }}
