fa-app.full-screen
  fa-modifier(fa-origin='[0.5, 0.5]')
    fa-modifier(fa-translate='snap.transition.get()')
      fa-surface(fa-size='[s, s]', fa-click='toggle()').bg-secondary
        fa-modifier(fa-origin='[0.5, 0.5]')
          fa-surface(fa-size='[true, true]', fa-pipe-to='evt') Snap.
    fa-modifier(fa-translate='spring.transition.get()')
      fa-surface(fa-size='[s, s]', fa-click='toggle()').bg-secondary
        fa-modifier(fa-origin='[0.5, 0.5]')
          fa-surface(fa-size='[true, true]', fa-pipe-to='evt') Spring.
